body {
    background-color: #13161c;
    background-image: radial-gradient(37.88% 68.62% at 50% 0, rgba(186, 85, 211, 0.3) 0%, rgba(148, 0, 211, 0) 80%),
        radial-gradient(10% 10% at 50% 0, rgba(255, 105, 180, 0.5) 0%, rgba(255, 20, 147, 0.4) 90%, rgba(255, 20, 147, 0) 100%),
        radial-gradient(100% 28.09% at 100% 10%, rgba(186, 85, 211, 0.2) 0%, rgba(148, 0, 211, 0.1) 80%, rgba(148, 0, 211, 0) 100%),
        linear-gradient(180deg, rgba(148, 0, 211, 0.075) 35.79%, rgba(148, 0, 211, 0.05) 80%, #13161c),
        radial-gradient(74.84% 135.56% at 100% 10%, rgba(186, 85, 211, 0.5) 0%, #13161c 80%);
    background-repeat: no-repeat;
    height: 100svh;
    z-index: -2;
    top: -50px;
    left: -50px;
    right: -50px;
    width: calc(100% + 100px);
    overflow-x: hidden;
}

.custom-placeholder::placeholder {
    color: white;
    opacity: 1;
}


option {
    color: black;

}

